.ql-editor .image-container {
    position: relative;
    display: inline-block;
  }
  
  .ql-editor .delete-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    line-height: 1;
  }
  
  .ql-editor .image-container:hover .delete-button {
    display: block;
  }
  
  .prose .image-container .delete-button {
    display: none !important;
  }
  
  .ql-editor img,
  .prose img {
    max-width: 40% !important;
    height: auto !important;
    padding: 4px;
  }